.tab-pane.active{
	
  	margin-left: 0 !important;
}

.btn-inverse,.btn{
  background-color: #89B4B6;
  margin-bottom: 5px;
}

.btn-inverse:hover{
  background-color: #0B4853;
  
}

.nav-btn{
	background-color: #0B4853 !important;
}

.nav-btn:hover{
	color: #BDDFE0;
}

.fixed {
    position: fixed;
    top: 51px;
    z-index: 1020;
     
}

#nav-stage{
	
	
	
	
}

.nav-tabs{
	background-color: #ACD1D3;

}

#newest{
	padding-top: 15px;
}