body{
	background: url("../img/pw_maze_black.png") repeat scroll 0% 0% transparent;
}

.container, .navbar {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);

}

.white-back{
	background-color: white;
}
.btn-inverse,.btn,#nav-stage{
  background-color: #82A6DB	;
}

.btn-inverse:hover{
  background-color: #032A41;
}

.nav-btn{
	background-color: #032A41 !important;
	color: white !important;
}
.nav-btn:hover{
	color: #C2CEFF!important;
}


div#nav-stage .btn-large{
	padding: 8px 10px;
	font-size: 14px;
}

.fixed {
    position: fixed;
    top: 51px;
    z-index: 1020;
     
}

#nav-stage-wrapper{
	padding-bottom:10px;
}




#newest{
	padding-top: 15px;
}

.btn-primary{
	color: black;
}

div.img-wrapper{  
    position: relative;
    
}  
div.description{  
    position: absolute;      
  	bottom: 5px;
  	width: 95%;
    background-color: black;
    color: white;
    opacity: 0.7; 
    
 
}  
p.description_content{  
    padding:2px;  
    margin:0px;
    
}  
