
.btn-inverse,.btn{
  background-color: #89B4B6;
}

div#nav-stage .btn-large{
	padding: 8px 10px;
	font-size: 14px;
}

.btn-inverse:hover{
  background-color: #0B4853;
}

.nav-btn{
	background-color: #0B4853 !important;
	color: white !important;
}

.nav-btn:hover{
	color: #BDDFE0 !important;
}

.fixed {
    position: fixed;
    top: 51px;
    z-index: 1020;
     
}

#nav-stage-wrapper{
	padding-bottom:10px;
	
}

#nav-stage{
	background-color: #89B4B6;	
}



#newest{
	padding-top: 15px;
}

.btn-primary{
	color: black;
}